/* Menu */

#menu{
	z-index: 1000;
	width: 450px;
	height: 100%;
	position: fixed;
	top: 0;
	left: calc(-450px + 64px);
	transition: all 300ms easy;
	color: #fff;
}

#menu.slideClass{
	left: 0;
}

#mainMenu{
	padding: 20px 20px 0 20px;
	width: calc(100% - 104px);
	height: calc( 100% - 20px );
	background: #009688;
	float: left;
}

#mainMenuBar{
	width: calc(64px - 30px);
	height: calc(100% - 30px);
	padding: 15px;
	background: #00BCD4;
	float: left;
}


/* Menu User */

#mainMenuUser{
	width: 100%;
	height: 128px;
}

.mainMenuUserProfileImage{
	float: left;
	width: 128px;
	height: 100%;
	display: inline-block;
}

.mainMenuUserProfileImage img{
	width: 120px;
	height: 120px;
	border: 4px solid #00BCD4;
}

.mainMenuUserMotto{
	width: calc(100% - 128px);
	display: inline-block;
}

.mainMenuUserMotto p{
	padding: 15px 5px 5px 10px;
	color: #fff;
}

.menuOption{
	cursor: pointer;
	margin-bottom: 30px;
}

#mainMenuContent h2{
	padding: 15px 0;
}

#mainMenuContent h1{
	color: #fff;
	letter-spacing: 5px;
}

#mainMenuContent{
	width: 100%;
	margin: 15px 0;
	line-height: 0;
}

#mainMenuContent textarea{
	width: calc(100% - 20px);
	height: 20px;
	padding: 10px;
	font-size: 1.2em;
	border: 1px solid #00BCD4;
	outline: none;
	background: #009688;
	color: #fff;
	resize: none;
	overflow: hidden;
	border-radius: 2px;
}

#mainMenuContent textarea::-webkit-input-placeholder,
#mainMenuContent input::-webkit-input-placeholder{
	color: #E0F2F1;
}

#mainMenuContent input,
#mainMenuContentbutton{
	display: inline;
}

#mainMenuContent input{
	width: 70%;
	border-radius: 2px 0 0 2px;
	float: left;
}

#mainMenuContent button{
	margin-top: 5px;
	padding: 15px 25px 14px 25px;
	border:none;
	outline: none;
	background: #00BCD4;
	color: #fff;
	border-radius: 0 2px 2px 0;
	cursor: pointer;
}

#mainMenuContent button:hover{
	background: #00ACC1;
	color: #fff;
}
