html, body{
	width: 100%;
	height: 100%;
	min-width: 1280px;
	min-height: 720px;
	font-family: 'Roboto', sans-serif;
	background: #B0BEC5;
}

html, body, ul, h1, h2, h3, h4, h5, p{
	margin: 0;
	padding: 0;
}

/* === a - Element === */

a{
	text-decoration: none;
	color: #009688;
}

a:hover{
	color: #00BCD4;

}

/* === ul & li - Element === */

li{
	text-decoration: none;
	display: block;
	padding: 5px;
}

input{
	padding: 10px;
	font-size: 1.2em;
	border: 1px solid #00BCD4;
	outline: none;
	background: #009688;
	color: #fff;
	border-radius: 2px;
}

input:focus{
	outline: none;
}

/* === button - Element === */

button{
	cursor: pointer;
}

/* === Content === */

#content{
	position: absolute;
	width: calc(100% - 64px);
	min-width: 600px;
	height: 100%;
	top: 0;
	left: 64px;
}

.contentRow{
	height: 100% ;
	width: 33%;
	float: left;
}

.contentBox{
	position: relative;
	top: 5px;
	left: 5px;
	right: 5px;
	margin: 0 10px 10px 0;
	background: #fff;
	border-radius: 2px;
	border: 2px solid #AEAEAE;
	box-shadow: 2px 2px 0px 0px #90A4AE;
}

.contentBoxHead{
	*background: blue;
	display: inline-block;
	width: 100%;
}

.contentBoxHead > p{
	margin: 15px 0;
	padding: 10px;
}

.contentBoxHead > img{
	width: 64px;
	border-radius: 64px;
	float: left;
	padding: 10px;
}

.contentBoxContent{
	padding: 10px;
	clear: both;
	width: 100%;
}

.contentBoxContent > p > img{
	width: auto;
}


.contentBoxContent p{
	padding: 10px;
	word-wrap: break-word !important;
}

.contentBoxInfo{
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 100%;
	*background: red;
}

.contentBoxInfo span{
	margin-right: 10px;
	font-weight: bold;
	color: #009688;
}

.contentBoxInfo p{
	margin: 5px;
	width: 100%;
	font-size: .8em;
	display: inline-block;
	color: #AEAEAE;
	text-align: center;
}

.contentBoxInfo form{
	position: absolute;
	top: 0;
	right: 0;
	display: inline;
}

.contentBoxInfo form input{
	padding: 5px;
}

input[type="image"]{
	width: 16px;
	background: none;
	display: inline-block;
	border: none;
	padding: 0;
}

.userPost_optOut_Button{
	background: url("../img/icon/remove.png") no-repeat;

}

/* === Style === */

#circle{
	border-radius: 1000px;
}


.smallIcon{
	width: 32px;
	height: 32px;
}

.flexi{
display: flex;
-moz-box-direction: normal;
-moz-box-orient: horizontal;
flex-flow: row wrap;
}

.flexbox{
flex-grow: 1;
-moz-box-ordinal-group: 1;
order: 0;
-moz-box-flex: 1;
flex: 0 0 280px;
box-sizing: border-box;
}

@media only screen and (max-width: 1050px){
	.contentBoxHead > img{
		margin-top: 20px;
	}
}

@media only screen and (max-width: 800px){
	.contentRow{
		width: 100%;
		height: auto;
		clear: both;
	}

	.contentBoxHead > img{
		margin-top: 0;
	}
}
