html, body{
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	background: #009688;
	min-width: 600px;
}

html, body, ul, h1, h2, h3, h4, h5, p{
	margin: 0;
	padding: 0;
	color: #fff;
}


html,
body,
#content{
	width: 100%;
	height: 100%;
}

input{
	margin: 10px auto;
	padding: 10px;
	display: block;
	background: #009688;
	color: #fff;
	font-size: 1.3em;
	border-bottom: 2px solid #fff;
	border-left: none;
	border-right: none;
	border-top: none;
}

input:focus{
	outline: none;
	border-bottom: 2px solid #00BCD4;
	border-left: none;
	border-right: none;
	border-top: none;
}

p{
	color: #E0F2F1;
	display: inline-block;
}

form{
	margin: 20px 0;
	padding: 30px 50px;
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 10px 0px #000;
}

form:hover{
	border: 2px solid #00BCD4;
}

input,
.submitButton,
.message p{
	border-radius: 2px;
}

#contentHead{
	width: 100%;
	background: url("../img/bg/bg_head.png") no-repeat;
	box-shadow: 5px 5px 15px 1px #000;
	text-align: center;
}

#contentHead h1{
	padding: 70px 0 30px 0;
	color: #fff;
	font-size: 4em;
}

#contentHead b{
	color: #009688;
}

#contentHead p{
	background: rgba(255, 255, 255, .2);
	border-radius: 2px;
	margin-bottom: 10px;
}

#contentHead p{
	letter-spacing: 10px;
	padding: 10px;
	font-weight: bold;
}

#contentBody{
	width: 80%;
	margin: 0 auto;
	position: relative;
	top: 50px;
}

#contentBody input::-webkit-input-placeholder{
	color: #E0F2F1;
}

.box-half{
	width: 50%;
	float: left;
	text-align: center;
}

.submitButton{
	margin: 15px 0;
	padding: 10px 50px;
	font-size: 1.3em;
	border: 2px solid #00BCD4;
	background: #00BCD4;
	cursor: pointer;
	color: #fff;
}

.submitButton:hover{
	background: #00ACC1;
	border: 2px solid #00ACC1;
	color: #fff;
}

/* === MESSAGE TO USER === */
.fixHeader{
	width: 100%;
	min-width: 600px;
	margin-top: 5px;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}

.message p{
	padding: 15px 25px;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 1.1em;
}

.goodMessage{
	border: 3px solid #4CAF50 !important;
}

.badMessage{
	border: 3px solid #F44336 !important;
}

.infoMessage{
	border: 3px solid #FFEB3B !important;
}

@media only screen and (max-width: 1250px){
	.box-half{
		width: 100%;
		clear: both;
	}
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
	.box-half{
		width: 100%;
		clear: both;
	}
}
